/*Styles for index.html*/

.RES_logo {
    max-width: 50%;
    display: block;
    padding-top: 6%;
    margin: 0 auto;

}

.container2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding: 0;
    background: rgba(0,123,60,.72);
    overflow:hidden;
}

.photo-background {
    background-image: url("rice_image.JPG");
    background-size: 100%;
    height: inherit;

}

html, body {
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}


h1 {
    text-align: left;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25pt;
    margin: 0;
    width: 50%;
    display: inline;
}

h1.titles {
    text-align: left;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25pt;
    margin: 0;
    width: 50%;
    display: inline;
}

a.top {
    text-align: right;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16pt;
    color: white;
    display: inline;
}

div.nav {
    background-color: rgba(0,0,0,.5);
    padding: 1.5%;

}

div.links {
    float: right;
    color: white;
    display: inline;
    font-family: 'Fjalla One', sans-serif;
    font-size: 16pt;
}

div.quotes {
    align-content: center;
}

div.quotes > p {
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 15pt;
}

div.footer {
    background-color: rgba(0,0,0,.5);
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
}

div.footer > p {
    color: white;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15pt;
}

.conference-description {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 14pt;
    text-align: left;
    vertical-align: middle;
    display: block;
    padding-left: 2.5%;
}

#conference-image {
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

#conference-info {
    padding-top: 2%;
}

#conference-schedule {
    /*padding-top: 2%;*/
    max-height: 50%;
    overflow-y: scroll;
    padding-bottom: 5%;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 14pt;
}

p.schedule-title {
    text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 14pt;
}

p.indent {
    text-indent: 1.8em;
}
